{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block blogheader %}
    Delete Post
{% endblock blogheader %}


{% block blogcontent %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        <h2>Are you sure you want do delete the post "{{ object.title }}"?</h2>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
        <a href="{% url 'post-detail' object.id %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
{% endblock blogcontent %}